Server/.dat
Server/*.cgi
Server/server
Server/password
Server/respawn
Server/server.pid
Server/cgi/assets/sprites/*.bmp
Server/cgi/assets/sprites/*.png
Server/cgi/*.cgi
Client/gfx/*.png
Client/gfx/*.bmp
Client/.*
Client/saves
Client/merc.exe
Client/merc.dat
Client/gx00.dat
Client/gx00.idx
Client/pnglib.dat
Client/pnglib.idx
Client/merc.dat