Server/.dat
Server/acct.cgi
Server/info.cgi
Server/server
Server/password
Server/server.pid
Server/cgi/assets/*.bmp
Server/cgi/assets/*.png
Client/gfx/*.png
Client/gfx/*.bmp
Client/.*
Client/saves
Client/merc.exe
Client/merc.dat
Client/gx00.dat
Client/gx00.idx
Client/pnglib.dat
Client/pnglib.idx