Server/.dat
Server/.obj
Server/acct.cgi
Server/info.cgi
Server/server
Server/password
Client/gfx/*.png
Client/gfx/*.bmp
Client/.*
Client/saves
Client/merc.exe
Client/gx00.dat
Client/gx00.idx
Client/pnglib.dat
Client/pnglib.idx
Client/merc.ilc
Client/merc.ild
Client/merc.ilf
Client/merc.ils